* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

#game {
  box-shadow: 0px 0px 80px 50px rgba(70, 70, 70, 0.257);
}


.player1, .player2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  background-color: transparent;
  width: 50px;
  height: 190px;
  border: 2px solid white;
  color: white;
}
