:root {
  --shadow: 0 0 50px 30px rgba(94, 94, 94, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  background-color: rgb(23, 23, 23);
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#game {
  box-shadow: var(--shadow);
  z-index: 10;
}

.player1, .player2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

button {
  width: 50px;
  height: 40%;
  border: 2px solid white;
  color: white;
  background-color: black;
  box-shadow: var(--shadow);
}

.arrow {
  position: relative;
  left: 50%;
  translate: -50%;
  width: 5px;
  height: 40px;
  background-color: white;
}
.arrow.reverse {
  rotate: 180deg;
}

.arrow:before {
  content: '';
  position: absolute;
  left: -2px;
  rotate: 45deg;
  width: 20px;
  height: 5px;
  background-color: white;
}

.arrow:after {
  content: '';
  position: absolute;
  right: -2px;
  rotate: -45deg;
  width: 20px;
  height: 5px;
  background-color: white;
}
